<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GoibiboSuite" parallel="tests">
  <test thread-count="5" name="Goibibo">
  <groups>
  <define name="All">
  <include name="smoke" />
  <include name="regration" />
  </define>
  <run>
  <include name="All" />
  </run>
  </groups>
   <classes>
      <class name="com.goibibo.testScripts.TC003"/>
      <class name="com.goibibo.testScripts.TC004"/>
      <class name="com.goibibo.testScripts.TC001"/>
      <class name="com.goibibo.testScripts.TC002"/>
    </classes>
  </test> <!-- Goibibo -->
  </suite> <!-- GoibiboSuite -->
